body {
    background-color: #E7E5E5; /* replace with your desired color */
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-5 {
    width: 8%;
    height: 8%;
    object-fit: contain;
    position: fixed;
    left: 0;
    top: 20%;
}

.navbarr {
    overflow: hidden;
    background-color: #0D6936;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbarr a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarr a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}



.thumbnail {
    max-width: 200px;
    max-height: 300px;
    object-fit: cover;
}


.image-2 {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 150px;
    top: 100px;
}

.image-2 div {
    width: 200px;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.image-button {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    position: fixed; /* Set the navbar to fixed position */
    top: 20%; /* Position the navbar at the top of the page */
    width: 10%;
}

.image-button div {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
}


.image-button2 {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    position: fixed; /* Set the navbar to fixed position */
    top: 20%; /* Position the navbar at the top of the page */
    right: 0;
}

.image-button2 div {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
}

.text-container {
    padding-top: 60px; /* add the height of the navbar */
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}


.window {
    border: solid;
    position: fixed;
    top: 10%; /* Position the navbar at the top of the page */
    width: 10%;
    margin-left: 50px;
}
