.mainNavBar {
    background: #0D6936;
    border-radius: 0;
}

.shopNavBar {
    background: #00A347;
}

.card {
    box-sizing: content-box;
    /*width: 100%;*/
    background-color: #d7d7d7;
    border: none;

}


body{
    background-color: #E7E5E5;
}

.shadow-box {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.mainNavBar {
    background: #0D6936;
    border-radius: 0;
}

.btn-expensive {
    background-color: #0D6936;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-expensive:hover {
    background-color: #0D6936;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.btn-expensive:active {
    background-color: #008037;
    color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    transform: translateY(1px);
}

.just-button {
    background-color: #ffffff;
}

card-img-overlay {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.card-img {
    display:block;
    width:100%;
    max-width:100%;
    height:auto;
}

.perText {
    margin-left: 7%;
    margin-top: 2.1%;
    margin-bottom: 2.1%;
}

.perHead {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.perLi {
    margin-top: 2.1%;
    margin-bottom: 2.1%;
}

.perData {
    border-width: 4px;
    border-radius: 30px;
    border-color: #1b5705;
    border-style: solid;
    padding-top: 4.5%;
    padding-bottom: 1.5%;
}

.perRow {
    padding-bottom: 1%;
}

.form-control:focus {
    border-color: #154205;
    box-shadow: 0 0 0 0.2rem rgba(61, 203, 14, 0.46);
}

.bord {
    width: 350px;
    border: 1px solid transparent;
    margin-top: 10px;
}

img {
    max-width: 100%;
    object-fit: contain;
}

card-img {
    max-width: 100%;
    object-fit: contain;
}

/*
circle
 */
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
}

.letters {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}